:root{
    --bg-page: #1ec7e6;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

.bg-page{
    background-color: var(--bg-page);
}

.none{
    list-style-type: none;
}

/* .navbar {
  background-color: transparent !important;
} */
